body {
  font-family: 'Nunito', sans-serif;
  background-color:#c0dd97;
  text-align:center;
  padding-top: 80px;
  color: #1a3a16;
}

.cart-item{
  background:white;
  margin:10px auto;
  padding:15px;
  width:500px;

  border-radius:25px;
  box-shadow:0 2px 5px rgba(0,0,0,0.2);

  display:flex;
  align-items:center;
  gap:15px;

  text-align:left;
}

button{
  background:#678f62;
  color:white;
  border:none;
  padding:10px 15px;
  margin-top:10px;
  border-radius:25px;
  cursor:pointer;
}

button:hover{
  background:#256d46;
}

input{
  display:block;
  margin:10px auto;
  padding:8px;
  width:250px;
}

.checkout-btn{
  margin-top:20px;
}

.cart-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
}

.cart-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
