/*
filename: RandomPlantGenerator.css
author: Evan Lanza
student id last four: 8804
cs username: elanza05
*/

/* =========================================
   PLANT GENERATOR CONTAINER
   Main container for the plant generator
   ========================================= */
#plant-gen-box {
    text-align: center;
    width: 100%;
    /* 1. Lock the height so it doesn't resize */
    min-height: 550px; 
    display: flex;
    flex-direction: column;
    /* Keeps buttons at the bottom */
    justify-content: space-between;    
    margin: auto;
    padding: 20px;
    border-style: solid;
    border-radius: 25px;
    border-width: 10px;
    border-color: #c0dd97;
    background-color: #f4f9f2;
    color: #3b6d11;
    box-sizing: border-box;
}

/* =========================================
   PLANT DISPLAY AREA
   The section of the generator containing
   the plant image
   ========================================= */
#plant-gen-box .plant-display {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* INDIVIDUAL PLANT IMAGE STYLING */
.plant-display img{
    width: 200px;
    height: 250px;
    /* Ensures photo fills dimensions without stretching */
    object-fit: cover;
    /* Duration for the rotation animation */
    transition: transform 0.8s ease;
    /* Ensure the image doesn't have extra bottom margin */
    margin: 0;
}

/* GENERATED PLANT IMAGE STYLING */
.plant-display img.generated {
  border: 3px solid #3b6d11;
  border-radius: 25px;
}

/* =========================================
   ANIMATION CLASSES
   Class applied via JavaScript to trigger
   a rotation animation
   ========================================= */
.spin{
    transform: rotate(360deg);
}

/* =========================================
   INTERACTIVE BUTTONS
   Consistent styling for the 'Generate' 
   and 'View Product' buttons
   ========================================= */
.info-box button{
    border-radius: 25px;
    padding:10px 15px;
    margin:10px;
    cursor:pointer;
    background-color: #c2deba;
    color: #3b6d11;
    border-style: solid;
    border-width: 2px;
    border-color: #3B6D11;
}

/* =========================================
   PLANT DESCRIPTION TEXT
   Reserved space for the plant description
   ========================================= */
#plantDescription {
    min-height: 50px; 
    margin: 10px 20px;
    font-size: 14px;
}

/* LATIN NAME FORMATTING */
.latin {
    font-style: italic;
}
